{% extends "base.html" %}
{% block title %}
    Aircraft
{% endblock %}
{% block content %}

<h1 align="center">Edit Aircraft</h1>

<form method="POST" action="update-aircraft">
    <h6>Aircraft</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          <input type="text" name="ac_reg" id="ac_reg" class="form-control" placeholder="Registration" value="{{ aircraft.registration }}" required>
          <label for="ac_reg">Registration</label>
         </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          <input name="ac_type" id="ac_type" class="form-control" placeholder="Aircraft Type" value="{{ aircraft.aircraft_type }}">
          <label for="ac_type" class="form-label">Aircraft Type</label>
        </div>
      </div>
    </div>
    <br/>
    <h6>Weights</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          <input type="text" name="empty_weight" id="empty_weight" class="form-control" placeholder="Empty Weight" value="{{ aircraft.empty_weight }}" required>
          <label for="empty_weight">Empty Weight</label>
         </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          <input type="text" name="mtow" id="mtow" class="form-control" placeholder="MTOW" value="{{ aircraft.mtow }}" required>
          <label for="mtow" class="form-label">MTOW</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          <input type="text" name="mlw" id="mlw" class="form-control" placeholder="MLW" value="{{ aircraft.mlw }}" required>
          <label for="mlw" class="form-label">MLW</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Speeds</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          <input type="text" name="true_airspeed" id="true_airspeed" class="form-control" placeholder="TAS" value="{{ aircraft.true_airspeed }}">
          <label for="true_airspeed" class="form-label">True Airspeed</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Additional Data</h6>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-floating">
          <textarea type="text" name="note" id="note" class="form-control" placeholder="Aircraft Notes">{{ aircraft.data }}</textarea>
          <label for="note">Aircraft Notes</label>
        </div>
      </div>
    </div>
    <br />
    <div align="left">
        <a href="/" class="btn btn-primary">Back</a>
        <input type="hidden" id="ac_id" name="ac_id" value="{{ aircraft.id }}"/>
        <button type="submit" action="update-aircraft" class="btn btn-warning" aria-label="Update">
            Update Aircraft
        </button>
        <button type="button" class="btn btn-danger" aria-label="Delete" onClick="deleteAircraft({{ aircraft.id }})">
            Delete
        </button>
    </div>
  </form>

{% endblock %}