{% extends "base.html" %}
{% block title %}
   Edit Aircraft
{% endblock %}
{% block content %}

<h1 align="center">Edit Aircraft</h1>
  <form method="POST" action="update-aircraft">
    <br/>
    <h6>Aircraft</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.ac_reg(class="form-control", type="text", id="ac_reg", value=aircraft.registration) }}
          <label for="ac_reg" class="form-label">{{ form.ac_reg.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          {{ form.ac_type(class="form-control", type="text", id="ac_type", value=aircraft.aircraft_type) }}
          <label for="ac_type" class="form-label">{{ form.ac_type.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Weights</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.empty_weight(class="form-control", type="text", id="empty_weight", value=aircraft.empty_weight) }}
          <label for="empty_weight" class="form-label">{{ form.empty_weight.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          {{ form.mtow(class="form-control", type="text", id="mtow", value=aircraft.mtow) }}
          <label for="mtow" class="form-label">{{ form.mtow.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          {{ form.mlw(class="form-control", type="text", id="mlw", value=aircraft.mlw) }}
          <label for="mlw" class="form-label">{{ form.mlw.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Fuel</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.max_fuel(class="form-control", type="text", id="max_fuel", value=aircraft.max_fuel) }}
          <label for="max_fuel" class="form-label">{{ form.max_fuel.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        {% if aircraft.fuel_type == "jet" %}
        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_jet" value="jet" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="fuel_type_jet">Jet A1</label>

        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_avgas" value="avgas" autocomplete="off">
        <label class="btn btn-outline-danger" for="fuel_type_avgas">Avgas</label>

        {% else %}
        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_jet" value="jet" autocomplete="off">
        <label class="btn btn-outline-secondary" for="fuel_type_jet">Jet A1</label>

        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_avgas" value="avgas" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="fuel_type_avgas">Avgas</label>
        {% endif %}
      </div>
    </div>
    <br />
    <h6>Weight and Balance</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.envelope(class="form-control", type="text", id="envelope", value=aircraft.envelope) }}
          <label for="envelope" class="form-label">{{ form.envelope.label }}</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-floating">
          
          {{ form.loading_points(class="form-control", type="text", id="loading_points", value=aircraft.loading_points) }}
          <label for="loading_points" class="form-label">{{ form.loading_points.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Speeds</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.true_airspeed(class="form-control", type="text", id="true_airspeed", value=aircraft.true_airspeed) }}
          <label for="true_airspeed" class="form-label">{{ form.true_airspeed.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Additional Data</h6>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-floating">
          
          {{ form.note(class="form-control", type="text", id="note", value=aircraft.data) }}
          <label for="note" class="form-label">{{ form.note.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <div align="left">
      <a href="{{ url_for("views.home") }}" class="btn btn-primary">Back</a>
      <input type="hidden" id="ac_id" name="ac_id" value="{{ aircraft.id }}"/>
      <button type="submit" action="update-aircraft" class="btn btn-warning" aria-label="Update">
          Update Aircraft
      </button>
      <button type="button" class="btn btn-danger" aria-label="Delete" onClick="deleteAircraft({{ aircraft.id }})">
          Delete
      </button>
  </div>
</form>

{% endblock %}