{% extends "base.html" %}
{% block title %}
   Edit Aircraft
{% endblock %}
{% block content %}

<h1 align="center">Edit Aircraft</h1>
  <form method="POST" action="update-aircraft">
    {{ form.csrf_token() }}
    <br/>
    <h6>Aircraft</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.ac_reg(class="form-control", type="text", id="ac_reg", value=aircraft.registration) }}
          <label for="ac_reg" class="form-label">{{ form.ac_reg.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          {{ form.ac_type(class="form-control", type="text", id="ac_type", value=aircraft.aircraft_type) }}
          <label for="ac_type" class="form-label">{{ form.ac_type.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Weights</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.empty_weight(class="form-control", type="text", id="empty_weight", value=aircraft.empty_weight) }}
          <label for="empty_weight" class="form-label">{{ form.empty_weight.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          {{ form.mtow(class="form-control", type="text", id="mtow", value=aircraft.mtow) }}
          <label for="mtow" class="form-label">{{ form.mtow.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-floating">
          {{ form.mlw(class="form-control", type="text", id="mlw", value=aircraft.mlw) }}
          <label for="mlw" class="form-label">{{ form.mlw.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Fuel</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.max_fuel(class="form-control", type="text", id="max_fuel", value=aircraft.max_fuel) }}
          <label for="max_fuel" class="form-label">{{ form.max_fuel.label }}</label>
        </div>
      </div>
      <div class="col-sm-2">
        {% if aircraft.fuel_type == "jet" %}
        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_jet" value="jet" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="fuel_type_jet">Jet A1</label>

        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_avgas" value="avgas" autocomplete="off">
        <label class="btn btn-outline-danger" for="fuel_type_avgas">Avgas</label>

        {% else %}
        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_jet" value="jet" autocomplete="off">
        <label class="btn btn-outline-secondary" for="fuel_type_jet">Jet A1</label>

        <input type="radio" class="btn-check" name="fuel_type" id="fuel_type_avgas" value="avgas" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="fuel_type_avgas">Avgas</label>
        {% endif %}
      </div>
    </div>
    <br />
    <!-- ADD ENVELOPE BUTTONS -->
    <h6>Weight and Balance</h6>
    <div class="row">
      <div class="row mb-4">
        <div class="col-sm-3">
          <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#envelopeModal">
            Add Envelope Point
          </button>
          <button type="button" class="btn btn-sm btn-warning" onclick="clearEnvelope()">
            Clear Envelope
          </button>
        </div>
      </div>
  </div>
  <!-- END OF ENVELOPE BUTTONS -->
    <div class="row">
      <div class="col-sm-6">
        <div class="form-floating">
          
          {{ form.envelope(class="form-control", type="text", id="envelope", value=aircraft.envelope, readonly=readonly) }}
          <label for="envelope" class="form-label">{{ form.envelope.label }}</label>
        </div>
      </div>
    </div>
      <!-- ADD LOAD POINT BUTTONS -->
      <br/>
      <h6>Load Points</h6>
      <div class="row">
          <div class="row mb-4">
            <div class="col-sm-3">
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#loadpointModal">
                Edit Load Point
              </button>
              <button type="button" class="btn btn-sm btn-warning" onclick="clearLoadpoints()">
                Clear Loading Points
              </button>
            </div>
          </div>
      </div>
      <!-- END OF LOAD POINT BUTTONS -->
      <div class="col-sm-6">
        <div class="form-floating">
      
          {{ form.loading_points(class="form-control", type="text", id="loading_points", value=aircraft.loading_points, readonly=readonly) }}
          <label for="loading_points" class="form-label">{{ form.loading_points.label }}</label>
        </div>
      </div>

    <br />
    <h6>Speed</h6>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-floating">
          
          {{ form.true_airspeed(class="form-control", type="text", id="true_airspeed", value=aircraft.true_airspeed) }}
          <label for="true_airspeed" class="form-label">{{ form.true_airspeed.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <h6>Additional Data</h6>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-floating">
          
          {{ form.note(class="form-control", type="text", id="note", value=aircraft.data) }}
          <label for="note" class="form-label">{{ form.note.label }}</label>
        </div>
      </div>
    </div>
    <br />
    <div align="left">
      <a href="{{ url_for("views.home") }}" class="btn btn-primary">Back</a>
      <input type="hidden" id="ac_id" name="ac_id" value="{{ aircraft.id }}"/>
      <button type="submit" action="update-aircraft" class="btn btn-warning" aria-label="Update">
          Update Aircraft
      </button>
      <button type="button" class="btn btn-danger" aria-label="Delete" onClick="deleteAircraft({{ aircraft.id }})">
          Delete
      </button>
  </div>
</form>

<!-- THE ENVELOPE MODAL DIALOG -->

<div class="modal fade-scale" id="envelopeModal" role="dialog" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Envelope Points</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="envelopeForm" name="envelopeForm">
                  <input type="hidden" name="id" id="id" value="0">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label >Weight Limit</label>
                              <input class="form-control" placeholder="Weight" name="weight" id="weight" type="text" value="">
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label >CG Distance from datum</label>
                              <input class="form-control" placeholder="CG Distance" name="cg_envelope" id="cg_envelope" type="text" value="">
                          </div>
                      </div>
                  </div>
              </form>
              <br />
              <div class="container">
                <div class="row justify-content-md-center text-center">
                  <div class="col md-auto bg-light">
                    Values are needed for at least 4 points<br/>
                    added in clockwise or counter clockwise order.
                  </div>
                </div>
              </div>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveEnvelope">Save</button>
          </div>
      </div>
  </div>
</div>

<!-- END OF ENVELOPE MODAL DIALOG -->


<!-- THE LOAD POINT MODAL DIALOG -->

<div class="modal fade-scale" id="loadpointModal" role="dialog" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add New Load Point</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="loadpointForm" name="loadpointForm">
                {{ form.csrf_token() }}
                  <input type="hidden" name="id" id="id" value="0">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label >Name</label>
                              <input class="form-control" placeholder="Name" name="name" id="name" type="text" value="">
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label >CG Distance from datum</label>
                              <input class="form-control" placeholder="CG Distance" name="cg_distance" id="cg_distance" type="text" value="">
                          </div>
                      </div>
                  </div>
              </form>
              <br />
              <div class="container">
                <div class="row justify-content-md-center text-center">
                  <div class="col md-auto bg-light">
                    Values for at least the points<br/>
                    <b>"empty_weight", "pilot" and "fuel"</b><br/>
                    are needed for calculations.<br/>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col md-auto bg-danger">
                    If not added they will be added at zero distance.
                  </div>
                </div>
                
              </div>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveLoadpoint">Save</button>
          </div>
      </div>
  </div>
</div>

<!-- END OF LOAD POINT MODAL DIALOG -->
{% endblock %}