
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="left">Aircrafts</h1>
    <ul class="list-group list-group-flush" id="aircrafts">
      <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                  
                </div>
                <div class="col-sm-1">
                  ID
                </div>
                <div class="col-sm-2">
                  REG
                </div>
                <div class="col-sm-2">
                  TYPE
                </div>
                <div class="col-sm-2">
                  FUEL
                </div>
                <div class="col-sm">
                  NOTES
                </div>
            </div>
        </div>
        </li>
      {% for aircraft in user.aircrafts %}
      <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                  <a href="{{ url_for("views.load_aircraft", ac_id=aircraft.id) }}" class="btn btn-primary">Calculate</a>
                </div>
                <div class="col-sm-1">
                    {{ aircraft.id }}
                </div>
                <div class="col-sm-2">
                  {{ aircraft.registration }}
                </div>
                <div class="col-sm-2">
                  {{ aircraft.aircraft_type }}
                </div>
                <div class="col-sm-2">
                  {{ aircraft.fuel_type.upper() }}
                </div>
                <div class="col-sm">
                    {{ aircraft.data }}
                </div>
                <div class="col-sm" align="right">
                    <form method="POST" action="edit-aircraft">
                      <input type="hidden" id="ac_id" name="ac_id" value="{{ aircraft.id }}"/>
                      <button type="submit" action="edit-aircraft" class="btn btn-warning" aria-label="Edit">
                        Edit
                      </button>
                    
                    <button type="button" class="btn btn-danger" aria-label="Delete" onClick="deleteAircraft({{ aircraft.id }})">
                      Delete
                    </button>
                  </form>
                </div>
            </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <br />
    <br />

    <a href="{{ url_for("views.add_aircraft") }}" type="button" class="btn btn-primary" aria-label="Add aircraft">Add Aircraft</a>
    

    {% endblock %}