
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 align="left">Aircrafts</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          {% if user.id == 1 %}
          <th scope="col">OWNER</th>
          {% endif %}
          <th scope="col">REG</th>
          <th scope="col">TYPE</th>
          <th scope="col">FUEL</th>
          <th scope="col">NOTES</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for aircraft in aircrafts %}
        <tr>
          <th scope="row">{{ aircraft.id }}</th>
          {% if user.id == 1 %}
          <td>{{ aircraft.user_id }}</td>
          {% endif %}
          <td>{{ aircraft.registration }}</td>
          <td>{{ aircraft.aircraft_type }}</td>
          <td>{{ aircraft.fuel_type.upper() }}</td>
          <td>{{ aircraft.data }}</td>
          <td>
            <a href="{{ url_for("views.load_aircraft", ac_id=aircraft.id) }}" class="btn btn-primary pull-right">Calculate</a>
          </td>
          <td>
            {% if aircraft.user_id == user.id or user.id == 1 %}
            <form method="POST" action="edit-aircraft">
              {{ form.csrf_token() }}
              <input type="hidden" id="ac_id" name="ac_id" value="{{ aircraft.id }}"/>
              <button type="submit" action="edit-aircraft" class="btn btn-warning" aria-label="Edit">
                Edit
              </button>
              <button type="button" class="btn btn-danger pull-right" aria-label="Delete" onClick="deleteAircraft({{ aircraft.id }})">
                Delete
              </button>
            </form>
            {% else %}
          </td>
          
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    
    </table>
    <br />
    <br />

    <a href="{{ url_for("views.add_aircraft") }}" type="button" class="btn btn-primary" aria-label="Add aircraft">Add Aircraft</a>
    

    {% endblock %}