{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 align="left">Load aircraft</h1>


<form method="POST" action="calculate">
<!-- <form method="POST"> -->
    
    {% for lp in loading_points %}
    
    {% if not lp == "empty_weight" %}
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating">
                    <input type="text" class="form-control" name="{{ lp }}" id="{{ lp }}" placeholder="{{ lp }}" value="{{ load_scheme[lp] }}">
                    <label for="{{ lp }}" class="form-label">{{ lp.replace("_", " ").capitalize() }}</label>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-4">
            <div class="form-floating">
                <input type="text" class="form-control" name="fuel_burn" id="fuel_burn" placeholder="Fuel Burn" value="{{ fuel_burn }}">
                <label for="fuel_burn" class="form-label">Expected Fuel Burn</label>
            </div>
        </div>
    </div>

<div class="col-sm-2">
    <a href="{{ url_for("views.home") }}" class="btn btn-primary">Back</a>
    <input type="hidden" id="ac_id" name="ac_id" value="{{ aircraft.id }}"/>
    <button type="submit" onclick="getImage({{ url_for("views.plot", ac_id=aircraft.id, load_scheme=load_scheme, fuel=fuel, fuel_burn=fuel_burn) }})" class="btn btn-primary" aria-label="Calculate">
        Calculate
    </button>
</div>
</form>
{% if will_plot == True %}


<div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" 
        id="spinner" role="status"> 
        <span class="sr-only">Loading...</span> 
    </div> 
    <img src="{{ url_for("views.plot", ac_id=aircraft.id, load_scheme=load_scheme, fuel=fuel, fuel_burn=fuel_burn) }}" class="img-fluid" alt="weight and balance plot" onload="hideSpinner()">
</div>

{% endif %}
{% endblock %}